@import "tailwindcss";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --letter-spacing-tighter: -0.05em;
  --color-primary: #0a86ce;
}

@custom-variant dark (&:is(.dark *));

@plugin '../hero.ts';